In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px
from statsmodels.tsa.seasonal import seasonal_decompose

In [3]:
# Loading the dataset for analysis
analysis_data=pd.read_csv(r'C:\Users\vs390\OneDrive\Desktop\Swiggy instamart delivery prediction\data\test.csv')
analysis_data.head(2)

,DateTime,Date,Hour,Day_of_Week,Location,Product,Order_Volume,Weather,Traffic,Is_Holiday,...,Distance_to_Warehouse,Customer_Age_Group,Feedback_Score,Item_Returned,Discount_Amount,Gift_Wrapping_Requested,Time_Since_Last_Order,Weather_Severity,Traffic_Congestion_Index,Warehouse_Proximity_Score
0,2023-01-01 00:00:00,2023-01-01,0,Sunday,Koramangala,Milk,143,Clear,Moderate,0,...,19.320305,26-35,4.089132,True,80.454587,True,23.395002,1.366587,1.985490,7.916775
1,2023-01-01 00:00:00,2023-01-01,0,Sunday,Koramangala,Bread,121,Clear,Moderate,0,...,16.529100,18-25,4.403027,False,43.380880,True,20.877744,1.421246,1.043545,5.236938

In [4]:
# Displaying the information about the dataset, including the number of non-null entries and the data types of each column
analysis_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131055 entries, 0 to 131054
Data columns (total 43 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DateTime                     131055 non-null  object
 1   Date                         131055 non-null  object
 2   Hour                         131055 non-null  int64
 3   Day_of_Week                  131055 non-null  object
 4   Location                     131055 non-null  object
 5   Product                      131055 non-null  object
 6   Order_Volume                 131055 non-null  int64
 7   Weather                      131055 non-null  object
 8   Traffic                      131055 non-null  object
 9   Is_Holiday                   131055 non-null  int64
 10  Promotion                    74895 non-null   object
 11  Customer_Rating              131055 non-null  float64
 12  Distance_to_Customer         131055 non-null  float64
 13  Warehouse_Stock_Level        131055 non-null  int64
 14  Average_Preparation_Time     131055 non-null  float64
 15  Delivery_Staff_Availability  131055 non-null  int64
 16  Temperature                  131055 non-null  float64
 17  Humidity                     131055 non-null  float64
 18  Air_Quality_Index            131055 non-null  int64
 19  Vehicle_Type                 131055 non-null  object
 20  Order_Priority               131055 non-null  object
 21  Coupon_Used                  131055 non-null  bool
 22  Previous_Order_Cancellation  131055 non-null  float64
 23  Delivery_Speed               131055 non-null  float64
 24  Staff_Experience_Level       131055 non-null  float64
 25  Fuel_Cost                    131055 non-null  float64
 26  Packaging_Cost               131055 non-null  float64
 27  Customer_Loyalty_Points      131055 non-null  int64
 28  Nearby_Competitors           131055 non-null  int64
 29  Seasonal_Demand_Factor       131055 non-null  float64
 30  Payment_Type                 131055 non-null  object
 31  Order_Frequency              131055 non-null  int64
 32  Average_Order_Value          131055 non-null  float64
 33  Distance_to_Warehouse        131055 non-null  float64
 34  Customer_Age_Group           131055 non-null  object
 35  Feedback_Score               131055 non-null  float64
 36  Item_Returned                131055 non-null  bool
 37  Discount_Amount              131055 non-null  float64
 38  Gift_Wrapping_Requested      131055 non-null  bool
 39  Time_Since_Last_Order        131055 non-null  float64
 40  Weather_Severity             131055 non-null  float64
 41  Traffic_Congestion_Index     131055 non-null  float64
 42  Warehouse_Proximity_Score    131055 non-null  float64
dtypes: bool(3), float64(19), int64(9), object(12)
memory usage: 40.4+ MB

In [5]:
# Displaying summary statistics of the dataset, including count, mean, standard deviation, min, max, and quartiles for each numeric column
analysis_data.describe()

,Hour,Order_Volume,Is_Holiday,Customer_Rating,Distance_to_Customer,Warehouse_Stock_Level,Average_Preparation_Time,Delivery_Staff_Availability,Temperature,Humidity,...,Seasonal_Demand_Factor,Order_Frequency,Average_Order_Value,Distance_to_Warehouse,Feedback_Score,Discount_Amount,Time_Since_Last_Order,Weather_Severity,Traffic_Congestion_Index,Warehouse_Proximity_Score
count,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,...,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000,131055.000000
mean,11.498684,186.978116,0.010988,4.001241,7.738285,5251.224364,12.520945,25.446996,27.442987,59.949845,...,1.150446,5.500187,549.598448,10.484298,4.002639,49.939542,15.008348,1.251417,1.250972,5.510312
std,6.922910,113.856596,0.104245,0.577467,4.189325,2737.110791,4.338912,14.428719,7.214370,17.340146,...,0.201802,2.877272,259.797596,5.482059,0.577086,28.880152,8.663951,0.433150,0.432839,2.590764
min,0.000000,80.000000,0.000000,3.000001,0.500075,500.000000,5.000116,1.000000,15.000120,30.000691,...,0.800007,1.000000,100.000713,1.000029,3.000020,0.000010,0.000131,0.500002,0.500026,1.000016
25%,5.000000,114.000000,0.000000,3.498508,4.100091,2888.000000,8.764904,13.000000,21.180931,44.917260,...,0.976320,3.000000,324.719657,5.721243,3.503016,24.946042,7.521753,0.877262,0.875364,3.276227
50%,11.000000,136.000000,0.000000,4.004470,7.731209,5244.000000,12.531838,25.000000,27.413058,59.931597,...,1.150270,6.000000,550.133017,10.472986,4.005176,49.926669,15.019368,1.250025,1.251652,5.508709
75%,17.000000,175.000000,0.000000,4.499205,11.367584,7621.000000,16.299481,38.000000,33.674739,74.953814,...,1.325623,8.000000,774.598225,15.233410,4.502309,74.957024,22.516458,1.627430,1.624996,7.750759
max,23.000000,487.000000,1.000000,4.999987,14.999970,10000.000000,19.999984,50.000000,39.999951,89.999720,...,1.499994,10.000000,999.994965,19.999728,4.999979,99.999577,29.999872,1.999987,1.999989,9.999961

In [6]:
# Checking for missing (null) values in each column and displaying the total count of null values per column
analysis_data.isnull().sum()

DateTime                           0
Date                               0
Hour                               0
Day_of_Week                        0
Location                           0
Product                            0
Order_Volume                       0
Weather                            0
Traffic                            0
Is_Holiday                         0
Promotion                      56160
Customer_Rating                    0
Distance_to_Customer               0
Warehouse_Stock_Level              0
Average_Preparation_Time           0
Delivery_Staff_Availability        0
Temperature                        0
Humidity                           0
Air_Quality_Index                  0
Vehicle_Type                       0
Order_Priority                     0
Coupon_Used                        0
Previous_Order_Cancellation        0
Delivery_Speed                     0
Staff_Experience_Level             0
Fuel_Cost                          0
Packaging_Cost                     0
Customer_Loyalty_Points            0
Nearby_Competitors                 0
Seasonal_Demand_Factor             0
Payment_Type                       0
Order_Frequency                    0
Average_Order_Value                0
Distance_to_Warehouse              0
Customer_Age_Group                 0
Feedback_Score                     0
Item_Returned                      0
Discount_Amount                    0
Gift_Wrapping_Requested            0
Time_Since_Last_Order              0
Weather_Severity                   0
Traffic_Congestion_Index           0
Warehouse_Proximity_Score          0
dtype: int64

In [10]:
# Filling missing values in the 'Promotion' column with the value 'No_Promotion'
analysis_data['Promotion']=analysis_data ['Promotion'].fillna('No_Prmotion')
analysis_data['Promotion'].unique()

array(['Weekend Bonanza', 'No_Prmotion', 'Midweek Madness'], dtype=object)

In [11]:
#  Basic Statistical Analysis (Mean, Median, etc.)
mean_order_volume =analysis_data['Order_Volume'].mean()
median_order_volume = analysis_data['Order_Volume'].median()
std_order_volume = analysis_data['Order_Volume'].std()
max_order_volume = analysis_data['Order_Volume'].max()
min_order_volume = analysis_data['Order_Volume'].min()

print(f"Mean Order Volume: {mean_order_volume}")
print(f"Median Order Volume: {median_order_volume}")
print(f"Standard Deviation of Order Volume: {std_order_volume}")
print(f"Maximum Order Volume: {max_order_volume}")
print(f"Minimum Order Volume: {min_order_volume}")

Mean Order Volume: 186.97811605814354
Median Order Volume: 136.0
Standard Deviation of Order Volume: 113.85659634888782
Maximum Order Volume: 487
Minimum Order Volume: 80

In [14]:
product_data=analysis_data[(analysis_data['Location']=='Indiranagar') &
                           (analysis_data['Product']=='Bread')]
product_data

,DateTime,Date,Hour,Day_of_Week,Location,Product,Order_Volume,Weather,Traffic,Is_Holiday,...,Distance_to_Warehouse,Customer_Age_Group,Feedback_Score,Item_Returned,Discount_Amount,Gift_Wrapping_Requested,Time_Since_Last_Order,Weather_Severity,Traffic_Congestion_Index,Warehouse_Proximity_Score
11,2023-01-01 00:00:00,2023-01-01,0,Sunday,Indiranagar,Bread,119,Clear,Moderate,0,...,12.660535,50+,4.061432,False,9.658734,False,26.852074,1.944521,1.298351,3.110002
26,2023-01-01 01:00:00,2023-01-01,1,Sunday,Indiranagar,Bread,112,Cloudy,Low,0,...,12.619701,26-35,4.132424,False,57.146098,False,10.757698,0.620857,0.905051,2.803342
41,2023-01-01 02:00:00,2023-01-01,2,Sunday,Indiranagar,Bread,137,Clear,Moderate,0,...,17.686458,18-25,3.672789,False,80.490222,True,26.791430,1.267244,1.578910,1.241782
56,2023-01-01 03:00:00,2023-01-01,3,Sunday,Indiranagar,Bread,112,Clear,Low,0,...,10.821622,26-35,3.674612,False,79.820336,True,24.250765,0.551302,0.844015,2.554798
71,2023-01-01 04:00:00,2023-01-01,4,Sunday,Indiranagar,Bread,132,Clear,High,0,...,5.601203,36-50,3.478499,False,76.547548,True,10.168827,0.745243,1.405398,2.866666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130991,2023-12-30 20:00:00,2023-12-30,20,Saturday,Indiranagar,Bread,386,Clear,Low,0,...,3.459181,50+,3.051029,False,10.534726,True,13.837943,1.249496,1.897350,4.317802
131006,2023-12-30 21:00:00,2023-12-30,21,Saturday,Indiranagar,Bread,159,Rainy,Low,0,...,8.210937,26-35,4.312745,False,29.815627,False,5.941265,1.837516,1.738034,4.384649
131021,2023-12-30 22:00:00,2023-12-30,22,Saturday,Indiranagar,Bread,175,Rainy,Low,0,...,5.372663,50+,3.530148,True,8.825933,False,20.286031,0.576702,1.997606,2.301381
131036,2023-12-30 23:00:00,2023-12-30,23,Saturday,Indiranagar,Bread,116,Cloudy,Low,0,...,3.386441,36-50,4.904712,False,19.944306,True,16.528246,1.059553,0.517482,6.757154
131051,2023-12-31 00:00:00,2023-12-31,0,Sunday,Indiranagar,Bread,110,Cloudy,Moderate,0,...,8.760218,36-50,3.413382,False,43.678419,True,9.275332,1.591587,1.013702,1.031083

0         Koramangala
1         Koramangala
2         Koramangala
3         Koramangala
4         Koramangala
             ...
131050    Indiranagar
131051    Indiranagar
131052    Indiranagar
131053    Indiranagar
131054    Indiranagar
Name: Location, Length: 131055, dtype: object