In [2]:
import pandas as pd 
import numpy as np

In [3]:
dataset=pd.read_csv(r'C:\Users\vs390\OneDrive\Desktop\Swiggy instamart delivery prediction\data\test.csv')
dataset['Date']=pd.to_datetime(dataset['Date'],errors='coerce')
dataset['Day_of_Week']=dataset['Date'].dt.day_name()
dataset.head(2)

,DateTime,Date,Hour,Day_of_Week,Location,Product,Order_Volume,Weather,Traffic,Is_Holiday,...,Distance_to_Warehouse,Customer_Age_Group,Feedback_Score,Item_Returned,Discount_Amount,Gift_Wrapping_Requested,Time_Since_Last_Order,Weather_Severity,Traffic_Congestion_Index,Warehouse_Proximity_Score
0,2023-01-01 00:00:00,2023-01-01,0,Sunday,Koramangala,Milk,143,Clear,Moderate,0,...,19.320305,26-35,4.089132,True,80.454587,True,23.395002,1.366587,1.985490,7.916775
1,2023-01-01 00:00:00,2023-01-01,0,Sunday,Koramangala,Bread,121,Clear,Moderate,0,...,16.529100,18-25,4.403027,False,43.380880,True,20.877744,1.421246,1.043545,5.236938

In [4]:
product_data=dataset[(dataset['Product']=='Milk') &
                     (dataset['Order_Volume'])]

In [6]:

output = []

for location in product_data['Location'].unique():
    loc_data = product_data[product_data['Location'] == location]

    for i in range(7, len(loc_data)):
        lag_volume = loc_data['Order_Volume'].iloc[max(0, i-7):i].mean()

        for j in range(7):  
            predicted_day = i + j
            lag_volume = loc_data['Order_Volume'].iloc[max(0, predicted_day-7):predicted_day].mean()

            actual_value = loc_data['Order_Volume'].iloc[predicted_day] if predicted_day < len(loc_data) else lag_volume
            percentage_change = abs((actual_value - lag_volume) / lag_volume * 100) if lag_volume != 0 else 0

            current_day = predicted_day - 7 + 1
            output.append([location, current_day, actual_value, predicted_day + 1, lag_volume, percentage_change])

output_df = pd.DataFrame(output, columns=['Location', 'Day', 'Order_Volume', 'Predicted_day', 'Predicted_Volume', 'Percentage'])
output_df.head(7)

      Location  Day  Order_Volume  Predicted_day  Predicted_Volume  Percentage
0  Koramangala    1         117.0              8        179.000000   34.636872
1  Koramangala    2         139.0              9        175.285714   20.700896
2  Koramangala    3         175.0             10        174.428571    0.327600
3  Koramangala    4         371.0             11        181.857143  104.006284
4  Koramangala    5         459.0             12        217.571429  110.965200
5  Koramangala    6         139.0             13        265.857143   47.716282
6  Koramangala    7         143.0             14        220.142857   35.042180

      Location  Day  Order_Volume  Predicted_day  Predicted_Volume  Percentage
0  Koramangala    1         117.0              8        179.000000   34.636872
1  Koramangala    2         139.0              9        175.285714   20.700896
2  Koramangala    3         175.0             10        174.428571    0.327600
3  Koramangala    4         371.0             11        181.857143  104.006284
4  Koramangala    5         459.0             12        217.571429  110.965200
5  Koramangala    6         139.0             13        265.857143   47.716282
6  Koramangala    7         143.0             14        220.142857   35.042180